@model List<InstaBotProjeFramework.Data.DTOs.InstagramProfileDTO>
@{
    ViewBag.Title = "FollowingBot";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
  <link rel="stylesheet" href="~/Content/adminlte/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
  <link rel="stylesheet" href="~/Content/adminlte/plugins/toastr/toastr.min.css">

@if (Model != null)
{
    foreach (var item in Model)
    {
        <div class="d-none" id="profile">@item.Id</div>
        <div class="row d-flex" style="padding:15px;margin:10px;align-items:center">
            <div class="col-8">
                <!-- Widget: user widget style 1 -->
                <div class="card card-widget widget-user">
                    <!-- Add the bg color to the header using any of the bg-* classes -->
                    <div class="widget-user-header bg-info">
                        <h3 class="widget-user-username">@Html.Raw(item.Username)</h3>
                            <div style="padding-top:15px;">
                                <a class="btn btn-outline-white" id="workBot">
                                    <i class="fas fa-play"></i> Botu Çalıştır!
                                </a>
                                <a class="btn btn-outline-danger" id="stopBot">
                                    <i class="fas fa-pause"></i> Botu Durdur!
                                </a>
                            </div>
                            <div id="warningTextOfFollowingBot"></div>
                        <h5 class="widget-user-desc">@Html.Raw(item.Description)</h5>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <!-- /.col -->
                            <div class="col-sm-4 border-right">
                                <div class="description-block">
                                    <h5 class="description-header">@item.Followers</h5>
                                    <span class="description-text">FOLLOWERS</span>
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4">
                                <div class="description-block">
                                    <h5 class="description-header">@item.Following</h5>
                                    <span class="description-text">FOLLOWING</span>
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                </div>
                <!-- /.widget-user -->
            </div>
            <div class="col-4">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    @if (item.LastWorkedTime == DateTime.MinValue)
                                    {
                                        <p><b>Önceki Çalıştırılma Saati : </b>Bot Daha Önceden Çalıştırılmadı!</p>
                                    }
                                    else
                                    {
                                        <div class="carousel-item active">
                                            <p><b>Botun Çalışma Saati :</b> @item.WorkedTimeCurrently</p>
                                        </div>
                                        <div class="carousel-item">
                                            <p><b>Önceki Çalıştırılma Saati : </b>@item.LastWorkedTime</p>
                                        </div>
                                        <div class="carousel-item">
                                            <p><b>Bir Öncekinden Kazanılan Takipçi : </b>@item.LastWonFollowers</p>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <div class="col-12">
                    <div class="card">
                        <div class="alert alert-info alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
                            <h5>
                                <i class="icon fas fa-info">
                                    Dikkat!
                                </i>
                            </h5>
                            Lütfen takipçileri çekilecek sayfanın isminin doğru olup olmadığını kontrol ediniz!
                        </div>
                        <div class="card-body">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" id="FollowingBotName" />
                                <div class="input-group-append">
                                    <button type="submit" class="input-group-text" id="checkInstagramUser">
                                        <i class="fas fa-check"></i>
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    }   
}

<script src="~/Content/adminlte/dist/js/pages/FollowingBot.js"></script>
<script src="~/Content/adminlte/plugins/sweetalert2/sweetalert2.min.js"></script>
<!-- Toastr -->
<script src="~/Content/adminlte/plugins/toastr/toastr.min.js"></script>