@model ICollection<InstaBotProjeFramework.Data.DTOs.InstagramProfileDTO>

@{
    var color = "";
}

@if (Model.Any())
{
    foreach (var profile in Model)
    {
        if (profile.Status == "WaitingForApproval")
        {
            color = "btn btn-warning";
        }
        else if (profile.Status == "Passive")
        {
            color = "btn btn-default";
        }
        else if (profile.Status == "Error")
        {
            color = "btn btn-danger";
        }
        else if (profile.Status == "Published")
        {
            color = "btn btn-success";
        }
            <!-- Widget: user widget style 1 -->
            <div class="card card-widget widget-user shadow">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-info">
                    <h3 class="widget-user-username">@Html.Raw(profile.Username)</h3>
                    <h5 class="widget-user-desc">@Html.Raw(profile.Description)</h5>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <!-- /.col -->
                        <div class="col-sm-4 border-right">
                            <div class="description-block">
                                <h5 class="description-header">@profile.Followers</h5>
                                <span class="description-text">FOLLOWERS</span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4">
                            <div class="description-block">
                                <h5 class="description-header">@profile.Following</h5>
                                <span class="description-text">FOLLOWING</span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="@color" style="display:block !important">@profile.Status</div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
            </div>
            <!-- /.widget-user -->
    }

    <span class="btn btn-success" data-toggle="modal" data-target="#AddProfile">Profil Ekle</span>
}
else
{
    <span class="btn btn-success" data-toggle="modal" data-target="#AddProfile">Profil Ekle</span>
}

<div class="modal fade" id="AddProfile">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Add Profile</h2>
            </div>
            <div class="modal-body">
                @Html.Action("AddInstagramPages", "InstagramPages")
            </div>
        </div>
    </div>
</div>
