@model ICollection<InstaBotProjeFramework.Data.DTOs.InstagramProfileDTO>


@if (Model.Any())
{
    foreach (var profile in Model)
    {
        <div class="col-md-4">
            <!-- Widget: user widget style 1 -->
            <div class="card card-widget widget-user shadow">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-info">
                    <h3 class="widget-user-username">@Html.Raw(profile.Username)</h3>
                    <h5 class="widget-user-desc">@Html.Raw(profile.Description)</h5>
                </div>
                <div class="widget-user-image">
                    <img class="img-circle elevation-2" src="../dist/img/user1-128x128.jpg" alt="User Avatar">
                </div>
                <div class="card-footer">
                    <div class="row">
                        <!-- /.col -->
                        <div class="col-sm-4 border-right">
                            <div class="description-block">
                                <h5 class="description-header">@profile.Followers</h5>
                                <span class="description-text">FOLLOWERS</span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4">
                            <div class="description-block">
                                <h5 class="description-header">@profile.Following</h5>
                                <span class="description-text">FOLLOWING</span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
            </div>
            <!-- /.widget-user -->
        </div>
    }
}
else
{
    <span class="btn btn-success" data-toggle="modal" data-target="#AddProfile">Profil Ekle</span>
}

<div class="modal fade" id="AddProfile">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Add Profile</h2>
            </div>
            <div class="modal-body">
                @Html.Action("AddInstagramPages", "InstagramPages")
            </div>
        </div>
    </div>
</div>
